<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<section class="static-container contact">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading text-muted">Our team is geographically spread out. We are probably online.</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                    <ul class="list-inline">
                    <li class="btn-social btn-outline"><a href="mailto:hello@cloudgeni.us" target="_blank"><i class="fa fa-envelope-o fa-5x"></i></a>
                    </li>
                    <li class="btn-social btn-outline"><a href="http://www.facebook.com/beacloudgenius" target="_blank"><i class="fa fa-facebook fa-5x"></i></a>
                    </li>
                    <li class="btn-social btn-outline"><a href="http://www.instagram.com/beacloudgenius" target="_blank"><i class="fa fa-instagram fa-5x"></i></a>
                    </li>
                    <li class="btn-social btn-outline"><a href="https://www.youtube.com/channel/UCvygomQdqFv_p0c00EYufPA" target="_blank"><i class="fa fa-youtube fa-5x"></i></a>
                    </li>
                    <li class="btn-social btn-outline"><a href="http://www.twitter.com/beacloudgenius" target="_blank"><i class="fa fa-twitter fa-5x"></i></a>
                    </li>
                    <li class="btn-social btn-outline"><a href="https://plus.google.com/+NileshLondheHere/photos" target="_blank"><i class="fa fa-google-plus fa-5x"></i></a>
                    </li>
                    <li class="btn-social btn-outline"><a href="https://www.linkedin.com/edu/alumni?name=Cloud+Genius" target="_blank"><i class="fa fa-linkedin fa-5x"></i></a>
                    </li>
                    <li class="btn-social btn-outline"><a href="https://www.meetup.com/cloudgenius" target="_blank"><i class="fa fa-users fa-5x"></i></a>
                    </li>
                    </ul>
            </div>
            <div class="col-lg-12 text-center">
            <h2 text-align: center; class="section-heading">Got a question? Ask us. We are here to help.</h2>
            </div>
            
        </div>

    </div>
</section>

<!-- This is a multiline comment and it can span through as many as lines you like.

Below is google maps embed code 

<section id="cd-google-map">
    <div id="google-container"></div>
    <div id="cd-zoom-in"></div>
    <div id="cd-zoom-out"></div>
    <address>24281 SE 1st Pl, Sammamish, WA 98074</address> 
</section>

<script src="static/themes/ionisx/js/mapmodernizr.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz3pHigbLAStosjo4ro_EAwkhY-ky9QN8"></script>
<script src="static/themes/ionisx/js/mapmain.js"></script> 

-->

<!-- Start of cloudgenius Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("//assets.zendesk.com/embeddable_framework/main.js","cloudgenius.zendesk.com");/*]]>*/</script>
<!-- End of cloudgenius Zendesk Widget script -->
