## mako
<%! from django.utils.translation import ugettext as _ %>
<%! from microsite_configuration.templatetags.microsite import platform_name %>
<%namespace name='static' file='static_content.html'/>

<footer>
  <div class="footer-container">

    <div class="row">

        <div class="col-sm-4">
            <img src="${static.url('themes/{theme_name}/images/logo-open-edx.png'.format(theme_name=settings.THEME_NAME))}" width="273" height="48" alt="Be a Cloud Genius" class="img-responsive"/>
            <br/>
            <p>
              Vendor neutrality, open source focus, best of breed solutions, practical hands on experiences in our google hangouts, zero powerpoint, no lecturing, sheer collaboration and productivity are just some of the factors that you see, but the real kicker is the immensely positive feedback from our graduates that really makes us tick.
            </p>
            <br/>
          <small>CIO Magazine rated us among the top 10 cloud programs.<br/><br/></small>
        </div>

        <div class="col-sm-4">
<!--          <nav class="nav"> -->
              <h2>About us</h2>
              <ul>
<!--                %if settings.MKTG_URL_LINK_MAP.get('ABOUT'):
<!--                <li>
<!--                  <a id="about" href="${marketing_link('ABOUT')}">${_("About")}</a>
<!--                </li>
<!--                %endif -->
                <li>
                  <a href="//be.a.cloudgeni.us/about">About</a>
                </li>
                <br/>
                %if settings.MKTG_URL_LINK_MAP.get('FAQ'):
                <li>
                  <a id="faq" href="${marketing_link('FAQ')}">${_("FAQ")}</a>
                </li>
                %endif
                <br/>
                %if settings.MKTG_URL_LINK_MAP.get('CONTACT'):
                <li>
                  <a id="contact" href="${marketing_link('CONTACT')}">${_("Contact")}</a>
                </li>
                %endif
                <br/>
                %if settings.MKTG_URL_LINK_MAP.get('TOS'):
                <li>
                  <a href="${marketing_link('TOS')}">${_("TOS")}</a>
                </li>
                %endif
                <br/>
<!--                %if settings.MKTG_URL_LINK_MAP.get('HONOR'):
<!--                <li>
<!--                  <a href="${marketing_link('HONOR')}">${_("Honor")}</a>
<!--                </li>
<!--                %endif -->
                %if settings.MKTG_URL_LINK_MAP.get('PRIVACY'):
                <li>
                  <a href="${marketing_link('PRIVACY')}">${_("Privacy")}</a>
                </li>
                %endif
                <br/>
                <li>
                  <a href="//be.a.cloudgeni.us/blog">Blog</a>
                </li>
                <br/>
              </ul>
<!--          </nav> -->
        </div>

<!--        float:left; clear: left; margin-left: 20px; -->

        <div class="col-sm-4">
          <h2>Follow us</h2>
          <ul>
              <li style="list-style-type:none;" class="social-item"><a href="http://www.facebook.com/beacloudgenius" target="_blank"><i class="fa fa-facebook fa-3x"></i> Facebook</a>
              </li>
              <br/>
              <li style="list-style-type:none;" class="social-item"><a href="http://www.twitter.com/beacloudgenius" target="_blank"><i class="fa fa-twitter fa-3x"></i> Twitter</a>
              </li>
              <br/>
              <li style="list-style-type:none;" class="social-item"><a href="http://www.instagram.com/beacloudgenius" target="_blank"><i class="fa fa-instagram fa-3x"></i> Instagram</a>
              </li>
              <br/>
              <li style="list-style-type:none;" class="social-item"><a href="https://www.youtube.com/channel/UCvygomQdqFv_p0c00EYufPA" target="_blank"><i class="fa fa-youtube fa-3x"></i> Youtube Channel</a>
              </li>
              <br/>
              <li style="list-style-type:none;" class="social-item"><a href="https://plus.google.com/+NileshLondheHere/photos" target="_blank"><i class="fa fa-google-plus fa-3x"></i> Google+</a>
              </li>
              <br/>
              <li style="list-style-type:none;" class="social-item"><a href="https://www.meetup.com/cloudgenius" target="_blank"><i class="fa fa-users fa-3x"></i> Meetup</a>
              </li>
              <br/>
              <li style="list-style-type:none;" class="social-item"><a href="https://www.linkedin.com/edu/alumni?name=Cloud+Genius" target="_blank"><i class="fa fa-linkedin fa-3x"></i> Meet our grads</a>
              </li>
              <br/>
          </ul>
        </div>

    </div>

    <div class="text-center">
      <font size="3">
        <p class="copyright">
          <img src="${static.url('themes/{theme_name}/images/logo-x-white-small.png'.format(theme_name=settings.THEME_NAME))}" width="47" height="32" alt="Be a Cloud Genius"/>&nbsp;&nbsp;${_(u"© 2011-2015 {platform_name}®, all rights reserved.").format(platform_name=platform_name())}</p>
      </font>
    </div>

  </div>

</footer>
